<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bonzai.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Bonzai.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bonzai.Properties.Settings>
            <setting name="voiceGender" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="voiceSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastThrow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastGoal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="regrabSpeed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pingSpike" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tts" serializeAs="String">
                <value>True</value>
            </setting>
        </Bonzai.Properties.Settings>
        <Bonzai.Properties.Settings1>
            <setting name="voiceGender" serializeAs="String">
                <value />
            </setting>
            <setting name="voiceSpeed" serializeAs="String">
                <value />
            </setting>
            <setting name="lastThrow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastGoal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="regrabSpeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pingSpike" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tts" serializeAs="String">
                <value>False</value>
            </setting>
        </Bonzai.Properties.Settings1>
    </userSettings>
</configuration>